<!-- <div class="absolute">
    <img style="height: 100vh;width: 100vw;" 
    src="https://c4.wallpaperflare.com/wallpaper/862/449/162/jack-reacher-star-wars-interstellar-movie-john-wick-wallpaper-preview.jpg" alt=""> -->

    <!-- class="transition-all duration-300 rounded-lg blur-sm hover:blur-none" style="height: 100vh;width: 100vw;" -->
    <!-- <div class="w-full md:w-3/12 absolute
     right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
        <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
    </div>
</div> -->
<div class="absolute">
    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt="">
  </div>
  <div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
    <div id="google-btn">
  
    </div>
  </div>
  
  